@import '/util/device.css';

.portfolio{

    /* *{
        border: 1px dashed goldenrod !important;
    } */
    position: relative;

    .section__header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media --mobile{
            & h2{
                width: 100%;
                text-align: center;
            }
        }
    }
}