@import 'util/device.css';

$p: 1.5rem;
$p-mobile: 1rem;

/* For Drawer */
.header__drawer{
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: translate(-120%);
    transition: all 0.28s ease-in-out;
    z-index: 10;

    left: 0;
    top: 0;

    
    background-color: rgb(255,255,255);

    &.active{
        transform: translate(0);
    }

    .header__icon--drawer{
        padding-top: $p;
        padding-bottom: $p;

    }

}

.header-drawer__menu{
    height: calc(100vh - 7.4rem);
    width: 100%;

    li:not(:last-of-type){
        margin-bottom: 2rem;
    }

    li:last-of-type{
        margin-bottom: 2.5rem;
    }
}

.header__icon{
    display: flex;
    place-items: center;

    .icon{
        display: flex;
        place-items: center;
        font-size: 2rem;
        height: 2.5rem;
        width: auto;
    }
}

header{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding-top: $p;
    padding-bottom: $p;
    box-shadow: 0px 2px 8px -5px rgba(0, 0, 0, 0.75) ;
    background-color: #fff;

    @media --mobile{
        &{
            padding-top: $p-mobile;
            padding-bottom: $p-mobile;
        }
    }
}

.site-header-sticky.header {
    position: sticky;
    transform: translateY(0%);
    top: 0%;
    left: 0%;
    z-index: 10;
    /* background-color: rgb(var(--color-section-bg)); */
}

.site-header-hidden.header {
    transform: translateY(-100%);
}

#site-header.animate {
    transition: transform 0.15s ease-out;
}

.header__heading{
    position: relative;

    a, .link{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        height: auto;
        width: 100%;
        max-width: 100px;
    }
}

.header__inline-menu{
    .list-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

        li:not(:last-of-type){
            margin-right: 2rem;
        }

        
    }
}
.list-menu{
    li{
        display: flex;

        a{
            flex: 1;
        }
    }
}
.list-menu__item{
    font-family: var(--font-heading-family);
    text-transform: uppercase;
    font-weight: 700;
    

    &:hover{
        color: rgb(var(--color-base-accent-2));
    }
}

.header__cta{
    .btn{
        font-size: 1.2rem;
        padding: 0.4rem 0.7rem;
    }
}

@media --mobile{
    .header__drawer .btn--default{
        max-width: 200px;
        padding: 0.5rem 0.6rem;
        font-size: 1.7rem;
    }
}

.stickyheadertest{
    height: 10000px;
    width: 100%;
    background-color: antiquewhite;
}